<!doctype html>
<title>CatBook</title>
<h1>CatBook</h1>
There are {{ cats|length }} Cats!
<table border = '4'>
	<tr>
		<th style='text-align:left'>Name</th>
		<th style='text-align:left'>Description</th>
		<th style='text-align:left'>Image</th>
	</tr>
{% for cat in cats %}
	<tr>
		<th style='text-align:left'>{{ cat['name'] }}</th>
		<th style='text-align:left'>{{ cat['description'] }}</th>
		<th style='text-align:left'><img src='{{ cat['image_url'] }} width='500' height='600'></th>
	</tr>
{% endfor %}
</table>
<h1>Upload File</h1>
<ul>
	{% for message in get_flashed_messages() %}
	<li>{{ message }}</li>
	{% endfor %}
</ul>
<form method='post' enctype='multipart/form-data' action='/upload'>
	<table>
		<tr>
			<th style='text-align:left'>
				<label for='name'>Name</label>
			</th>
			<th style='text-align:left'>
				<input type=text name=name>
			</th>
		</tr>
		<tr>
			<th style='text-align:left'>
				<label for='description'>Description</label>
			</th>
			<th style='text-align:left'>
				<input type=text name=description><br>
			</th>
		</tr>
		<tr>
			<th style='text-align:left'>
				<label for='description'>Select file</label>
			</th>
			<th style='text-align:left'>
				<input type=file name=file><br>
			</th>
		</tr>
	</table>
	<input type=submit value=Upload>
</form>
